<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Persons</title>

</head>
<body>
<div th:if="${not #lists.isEmpty(personsList)}">
	<h2>Persons List</h2>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Age</th>
			<th>Job</th>
            <td></td>
		</tr>
		
		<td th:each="person: ${personsList}">
			<td th:text="${person.getId()}"></td>
			<td th:text="${person.getName()}"></td>
			<td th:text="${person.getAge()}"></td>
			<td th:text="${person.getWorkOn()}"></td>
            <td> <a th:href="@{/delete_person(id=${person.getId()})}">DELETE </a> </td>
        </tr>
	</table>
</div>
</body>
</html>